.skills {
 flex-grow: 1;
 /* margin-left: 20px; */
 /* padding: 50px; */
 color: #000;
 padding-top:50px;
 background-color: #f0f0ef;
}

.skills h1 {
 margin-bottom: 50px; 
}

.headingLine {
  color: #000;
  font-family: "Satisfy", cursive;
 font-weight: 800;
  font-style: normal;
}
.headBox {
  display: flex;
  justify-content: center;
}

.content {
 display: grid;
 font-size: 24px;
 grid-template-columns: 1fr ;
}

.content div {
 margin-bottom:  25px;
}

.content strong {
 line-height: 25px;
 padding-bottom: 15px;
 display: block;
}

.content li {
 margin: 0;
 margin-bottom: 10px;
}

@media(min-width: 768px) {
 
 /* .content {
  grid-template-columns: 1fr 1fr 1fr;
 }
 .content li:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  color: black;
 } */
}

@media (max-width: 480px) {
 .skills h1 {
   text-align: center;
 }
 .skillset {
  display: flex;
  flex-direction: row;
 }
 .content {
   padding: 0px;
  }
  .icons {
    width: 50px;
    height: 50px;
  }
  .skillset .frontend {
    display: flex;
    justify-content: space-around;
  }
  .skillset .frontend_2 {
    display: flex;
    justify-content: space-around;
  }
  .skillset .backend {
    display: flex;
    justify-content: space-around;
  }
  .skillset .backend_2 {
    display: flex;
    justify-content: space-around;
  }
  .skillset .middle .bottom {
    display: flex;
    justify-content: space-around;
  }
  .skillset .otherTech {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .skillset .restTech {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .content {
    padding: 0 300px;
    margin-top: 25px;
  }
  .icons {
    width: 100px;
    height: 100px;
  }
  .skillset .frontend {
    display: flex;
    justify-content: space-between;
  }
  .skillset .frontend_2 {
    display: flex;
    justify-content: space-between;
  }
  .skillset .backend {
    display: flex;
    justify-content: space-between;
  }
  .skillset .backend_2 {
    display: flex;
    justify-content: space-between;
  }
  .skillset .middle .bottom {
    display: flex;
    justify-content: space-between;
  }
  .skillset .otherTech {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .skillset .restTech {
    display: flex;
    justify-content: space-around;
  }
}

.skillset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skillset .top{
  display: flex;
  flex-direction: column;
}
